
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --body-color:rgb(0, 15, 29);
  --sidebar-color:rgb(0, 23, 46);
  --text-light:#ffffff;
  --dark-text:rgb(0, 128, 255);
}
body{
  font-family: 'Roboto',sans-serif;
  background: var(--body-color);
  color: var(--text-light);
}
.dashboard{
  display: flex;
}
.sidebar{
  width: 300px;
  position: fixed;
  top:0;
  height: 100vh;
  background: linear-gradient(to right , rgba(255, 0, 177, 0.19),rgba(0, 133, 255, 0.19));
  transition: all 0.5s ease;
  overflow-y: scroll;
  z-index: 2;
  
}
.sidebar::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.main{
  margin-left: 300px;
  transition: 0.5s;
  width: 100%;
}
.dashboard-content{
  padding: 30px;
}
.sidebar.show{
  width: 60px;
}
.main.main-expanded{
  margin-left: 60px
}
.mobile-logo{
  display: none;
}
.desktop-logo{
  display: block;
}
.close{
  display: none;
}

/* Sidebar */
.sidebar .logo{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(0, 70, 139);
}

.sidebar .nav .nav-item{
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: white;
  overflow: hidden;
}
.sidebar .nav .nav-item:hover.active::after{
  right: 0;
}

.sidebar .nav .nav-item.active{
    background: rgba(6, 136, 255, 0.17);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background: linear-gradient(to right , rgba(0, 133, 255, 0.19),rgba(255, 0, 177, 0.19));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}
.sidebar.show .nav .nav-item h6{
  display: none;
}

/* Header */

header{
   background: rgb(0, 23, 46);
   padding: 23px 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
  border-bottom: 1px solid rgb(0, 70, 139);
  position: sticky;
  top: 0;
  left: 0;
  z-index:1;
}
header .left{
   display: flex;
   align-items: center;
   gap: 20px;
}
header .left .toggle-btn {
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}
header .left .toggle-btn svg{
  font-size: 20px;
  color: white;
}

/* Home Page */
/* Crypto Price Card */
.crypto-card{
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 0, 177, 0.34);
  position: relative;
  background: rgb(0, 23, 46);
  transition: all 3s ease;
  cursor: pointer;
}
.crypto-card:hover{
background: linear-gradient(to bottom, rgba(0, 133, 255, 0.19), rgba(255, 0, 177, 0.19));
}

.coin-image{
  width: 50px;
  height: 50px;
}
.coin-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.news-image{
  width: 100%;
  background: rgb(0, 23, 46);
  padding: 20px;
  border-radius: 20px;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 z-index:0;
}
.news-image::after{
  content: 'OUR COIN';
  position: absolute;
  top: 50%;
  left:-50px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(15, 33, 63);
  transform: translateY(-50%) rotate(-90deg);
  z-index: -1;
  margin: 0;
  padding: 0;
}
.news-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* credit-card */
.credit-card{
 background: linear-gradient(to bottom , rgba(0, 133, 255, 0.19),rgba(255, 0, 177, 0.19));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 0, 177, 0.34);
  display: inline-block;
  padding: 30px 50px;
  width: 500px;
}

/* Charting */
.apexcharts-tooltip {
    color: black;
}
.apexcharts-legend-text{
  color: white!important;
}
.apexcharts-menu{
  background: linear-gradient(to bottom , rgba(0, 133, 255, 0.19),rgba(255, 0, 177, 0.19))!important;
}
.apexcharts-theme-light .apexcharts-menu-item:hover {
    background: white;
    color: black;
}
@media (max-width:1280px) {
  .credit-card .card-number{
    font-size:22px;
  }
  .credit-card .card-holder,.credit-card .card-security{
    font-size:16px;
  }
}
@media(max-width:1100px){
  .credit-card{
     width: 500px;
  }
  .sidebar{
    margin-left:-300px;
    background: var(--body-color);
  }
  .sidebar.show{
      margin-left: 0;
      width: 300px;
  }
  .sidebar.show .nav .nav-item h6{
  display: block;
}
  .main,.main.main-expanded{
    margin-left:0
  }
  .mobile-logo{
    display: block;
  }
  .desktop-logo{
    display: none;
  }
  .close{
    display: block;
  }
  .close button{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 30px;
    height: 30px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
   .close button svg path{
    stroke: white;
    stroke-width: 4px;
   }
}


@media(max-width:680px){
  .credit-card{
    padding: 15px 30px;
  }
  .credit-card .card-number{
    font-size:22px;
  }
  .credit-card .card-holder,.credit-card .card-security{
    font-size:18px;
  }
}
@media(max-width:580px){
  .credit-card{
    margin-bottom: 20px;
    width: 100%;
  }
}

@media(max-width:420px){
  .credit-card .card-number{
    font-size: 19px;
  }
  .credit-card .card-holder,.credit-card .card-security{
    font-size:14px;
  }
}


